* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

select {
  color: inherit;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  color: inherit;
  font-style: normal;
  line-height: normal;
}

body {
  background-color: #edeef3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
