.input {
  border-radius: 4px;
  border: 1px solid #ced4da;
  background: #fff;
  max-width: 820px;
  width: calc((1300 / 1440) * 100vw);
  height: 64px;
  padding-left: 32px;
  color: #abb5be;
  font-size: 24px;
  line-height: 21px;
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 0;
}
