.header { width: 100%;
  // height: 295px;
  padding: 68px 0 100px 0;
  border: 1px solid #ced4da;
  background: linear-gradient(92deg, #087990 0.12%, #055160 100%);
  position: relative;

  &__title {
    color: #cff4fc;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
  }

  &__text {
    color: #cff4fc;
    font-size: 21px;
    line-height: 36px;
    text-align: center;
    margin-top: 4px;
  }
  
}